// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter{
  margin: 5px;
  width: 50px;
  padding: auto 10px;
  background-color: #508FBB;
  color: white;
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}
